* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alert_danger {
	width: 50%;
	margin:auto;
	text-align: center;
	border-radius: 0.25em;
	padding: 10px;
	border: 1px solid #FF3D3D;
	background-color: #FBB2B2;
	color: #FF3D3D;
}

.nav-link img {
	object-fit: contain;
	height: 2rem;
	width: 2rem;
	padding-bottom: 5px;
}

body {
	background-color: #121212;
}

/* Boutons toggle CSS */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
  
input:checked + .slider {
	background-color: #DC3545;
}
  
input:focus + .slider {
	box-shadow: 0 0 1px #DC3545;
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}
  
.slider.round:before {
	border-radius: 50%;
}

/* Forms */
  
.form_container {
	padding: 2%;
	background-color: #F5FAFE;
}

h2 {
	color: #121212;
	font-size: 35px;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 67px;
}

.toggle_container p {
	color: #707070;
}

.form_buttons {
	color: #F5FAFE;
	background-color: #DC3545;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	border-radius: 10px;
	padding: 14px 52px;
	height: 55px;
	border: none;
	line-height: normal;
	margin: 5% 0;
	text-align: center;
}

.form_buttons:hover {
	background-color: #F5FAFE;
	color: #DC3545;
	text-decoration: none;
	border: #DC3545 solid 1px;
}

form div {
	padding-bottom: 55px;
}

#connection_form .form_container {
	margin-left: 30%;
    margin-right: 30%;
    width: 38%;
}

#inscription_form .form_container {
	margin-left: 15%;
	margin-right: 15%;
}

form a {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

#connection_form {
	margin: 10% 0;
}

#inscr_form {
	width: 100%;
}

#inscr_form button {
	margin-bottom: 1%;
}

#connection_form input[type=text] {
	width: 100%;
}

#inscription_form h2 {
	margin-left: 30px;
	margin-top: 35px;
}

#inscription_form input, select {
	width: 44%;
    margin: 5px 30px;
}

#inscription_form div:not(.toggle_container) {
	display: flex;
	flex-direction: row;
}

#inscription_form #toggles {
	flex-direction: column;
	padding-bottom: 0px;
}

.toggle_container {
	display: flex;
}

.toggle_container p {
	padding-left: 15px;
}

input[type=text], input[type=tel], select {
	border: none;
	height: 30px;
	border-bottom: #121212 solid 1px;
	padding-bottom: 5px;
}

form input[type=text]::placeholder {
	color: #707070;
	font-family: 'Open Sans', sans-serif;
}